body{
    background-color: LightGray;
}
#cabecalho{
    position: relative;
    background-color: white;
    margin-top:-1%;
    margin-left:-1%;
}
#logomarca{
    position: relative;
    float: left;
    clear: right;
    width: 10%;
    margin-left: 15%;
    margin-top:1%;
    cursor:pointer;
}
#pesquisa{
    position:relative;
    margin-left:23%;
    margin-right:8%;
    cursor:pointer;
}
.mini_icones{
    position: relative;
    clear: right;
    width:3%;
    cursor:pointer;
    margin-top:0.5%;
}
#postagens{
    position:relative;
    float:left;
    clear:right;
    margin-left:15%;
    margin-top:1%;
}
.postagem_remetente{
    position: absolute;
    width:50%;
    background-color: white;
    cursor: pointer;
}
#foto_perfil{
    position: relative;
    float: left;
    clear: right;
    width:8%;
}
label{
    position: relative;
    float: left;
    font-family: Segoe UI, sans-serif;
    font-size: 100%;
    margin-top:2%;
    margin-left:2%;
}
#menu_remetente{
    position: relative;
    float:right;
    clear:left;
    width:5%;
}
#foto_postagem{
    position: relative;
    margin-top:4%;
    width:50%;
}
.barra_ferramentas{
    position: relative;
    float: left;
    clear: right;
    background-color: white;
    margin-right: 50%;
    cursor:pointer;
}
#icones_barra_ferramentas{
    width:15%;
}
p{
    font-family: Segoe UI, sans-serif;
    margin-top:-1%;
}